@import url(http://fonts.googleapis.com/css?family=Raleway);

#loginError {
  display: none;
  color: red;
}

#loginSignup {
  position: relative;
  z-index: +1;
  left: 15vw;
  top: 7vh;
  height: 50vh;
  width: 60vw;
  border: 1px solid black;
  width: 60vw;
  box-shadow: 7px 7px 5px #888888;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  display: none;
  text-shadow: 1px 1px 1px #222;
}

.close-btn {
  height: 3vh;
  width: 3vh;
  position: absolute;
  left: 59vw;
  bottom: 48vh;
  border-radius: 50%;
  color: #fafafa;
  background: #394149;
  border: none;
}

.close-btn:hover {
  background: #fafafa;
  color:  #394149;
  box-shadow: 0 0 3px gray;
  transition: background .5s ease;
  cursor: pointer;
}

#login {
  width: 29.45vw;

}

#signup {
  border-left: .1vw solid #999;
  position: absolute;
  top: 0vh;
  left: 50%;
  width: 29.45vw;
  height: 45vh;
}

.loginModal > h1 {
  font-family: 'Raleway', cursive;
  letter-spacing: 4px;
  width: 100%;
  color: #222;
  margin-top: 12vh;
  display: inline-block;
  /*font-size: .8em;*/
}

#dividingLine {
  height: 40vh;
  width: .5vw;
  /*color: #323232;*/
}

#loginSignupCancel {
  position: absolute;
  margin-top: 40vh;
  margin-left: 9vw;
}

.modalButton {
  border: none;
  margin-top: 5px;
  padding: 5px;
  width: 172px;
  font-size: 14px;
  letter-spacing: 1.5px;
  background: #394149;
  color: #fafafa;
  border-radius: 4px;

}

.modalButton:hover {
  color: #394149;
  background: #fafafa;
  box-shadow: 0 0 3px gray;
  transition: background .5s ease-in;
  cursor: pointer;
}
